<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict>
			<key>@ntitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>492086469.05604601</real>
				<key>lastModification</key>
				<real>492086469.05604601</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>BestPractices.md</key>
			<dict>
				<key>lastModification</key>
				<real>492074546.76555502</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>COMPONENTS - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>492086894.27661997</real>
				<key>lastModification</key>
				<real>492086894.27661997</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>COMPONENTS.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>492086894.26922703</real>
				<key>lastModification</key>
				<real>492086894.26922703</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>Fastlane.md</key>
			<dict>
				<key>lastModification</key>
				<real>492088656.43454701</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>43</integer>
				</dict>
			</dict>
			<key>HYPER_RECIPES.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>492086896.578596</real>
				<key>lastModification</key>
				<real>492086896.578596</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>Ingredients.md</key>
			<dict>
				<key>lastModification</key>
				<real>492076500.74014699</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>LICENSE.md</key>
			<dict>
				<key>lastModification</key>
				<real>492076457.259188</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>492076449.24238998</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>RESOURCES.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>492010346.94695598</real>
				<key>lastModification</key>
				<real>492010346.94695598</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>Release.md</key>
			<dict>
				<key>lastModification</key>
				<real>492088503.56543201</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>40</integer>
				</dict>
			</dict>
			<key>SwiftStyle.md</key>
			<dict>
				<key>lastModification</key>
				<real>492005836.04645002</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Tooling.md</key>
			<dict>
				<key>lastModification</key>
				<real>492010432.72339201</real>
				<key>version</key>
				<dict>
					<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
					<integer>8</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>BestPractices.md</string>
		</array>
		<array>
			<string>RESOURCES.md</string>
		</array>
		<array>
			<string>Fastlane.md</string>
		</array>
		<array>
			<string>Release.md</string>
		</array>
		<array>
			<string>SwiftStyle.md</string>
		</array>
		<array>
			<string>@ntitled.md</string>
		</array>
		<array>
			<string>Ingredients.md</string>
		</array>
		<array>
			<string>Tooling.md</string>
		</array>
		<array>
			<string>HYPER_RECIPES.md</string>
		</array>
		<array>
			<string>COMPONENTS.md</string>
		</array>
		<array>
			<string>COMPONENTS - 2.md</string>
		</array>
		<array>
			<string>LICENSE.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>d315f1f4deb0498c2879e2ab37cbe6845760807d0bda9efbffe8fd613d2c7ba3</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>
